@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.swiper-slide > div {
  max-width: 320px;
  width: 100%;
}

.destination-image-wrapper {
  width: 320px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.destination-image-wrapper img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 40px !important;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-white text-zinc-900;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
